<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021145734571-csa3n8poql4cbvnrjpb33r4j35h52e7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021145734571-csa3n8poql4cbvnrjpb33r4j35h52e7j</string>
	<key>API_KEY</key>
	<string>AIzaSyD33oR2dOTkKapiQtCGEUjiY2YNb68-6jU</string>
	<key>GCM_SENDER_ID</key>
	<string>1021145734571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsail.ChoresForCoinsProject</string>
	<key>PROJECT_ID</key>
	<string>choresforcoinsproject</string>
	<key>STORAGE_BUCKET</key>
	<string>choresforcoinsproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021145734571:ios:d03f72e5591d6cd4</string>
	<key>DATABASE_URL</key>
	<string>https://choresforcoinsproject.firebaseio.com</string>
</dict>
</plist>